# Protect the htaccess file
<files .htaccess>
order allow,deny
deny from all
</files>

# Disable the server signature
ServerSignature Off

# Disable directory browsing
Options All -Indexes

# Make Charlie handle any 404 errors.
ErrorDocument 404 /index.php

RewriteEngine On

RewriteBase /

#RewriteRule ^(app) - [F,L]
RewriteRule ^(app/lib) - [F,L]
RewriteRule ^(app/vendor) - [F,L]
RewriteRule ^(app/tmp) - [F,L]
RewriteRule ^(app/startup.php) - [F,L]
RewriteRule ^(extensions) - [F,L]

#Removes index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]
Redirect 301 /front /
Redirect 301 /index /
Redirect 301 /home /
<FilesMatch "(\.(ini|ms|md|inc(\.php)?))$">

  Order allow,deny
  Deny from all
</FilesMatch>













